/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.5rem;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: text-top;
}

/* ====================================
// base rules
// ==================================== */

h1 {
  padding: 14px 98px 12px 98px;
  font-size: 36px;
}

main img {
  border-top: solid red 2px;
  border-bottom: solid red 2px;
}

h2 {
  font-size: 36px;
  /* padding: 25px 79px 10px 78px; */
  padding-top: 23px;
}

.title-starter-set {
  color: red;
}

hr {
  background-color: red;
}

.strange-things-conti {
  font-family: Roboto-Regular;
  font-size: 21px;
  text-align: center;
}

p {
  font-size: 16px;
  margin: 0px 37px;
}

h3 {
  margin: 38px 0px 12px 0px;
}

/* img {
} */

.img-pack {
  background-color: red;
  padding: 25px 89px 25px 90px;
}

a {
  color: white;
  text-decoration: none;
  border-radius: 10px;
  padding: 7px 12px;
  margin-top: 22px;
}

.pick-character {
  margin: 0px 37px 22px 37px;
}

footer {
  background-image: url(../images/background.png);
  width: 419px;
  height: 343px;
  padding-bottom: 38px;
}

main a {
  background-color: red;
}

/* footer a {
  color: red;
  font-size: 16px;
} */

footer h3 {
  color: white;
  padding: 22px;
}

h4 {
  color: white;
  padding-top: 30px;
}

.link-footer {
  color: white;
  padding-bottom: 10px;
}

.footer-menu {
  color: red;
  font-size: 16px;
  margin: 0px;
  padding: 0px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-container {
  padding: 25px 78px 15px 78px;
  border-bottom: solid red 2px;
  margin-bottom: 22px;
}
